$color_black: #23282d;
$color_accent: #51cf66;
@mixin font-size($pixels) {
    font-size: $pixels;
    font-size: ($pixels/10px) * 1rem;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
@mixin box-shadow($top, $left, $blur, $spread, $color) {
    -webkit-box-shadow: $top $left $spread $blur $color;
    -moz-box-shadow: $top $left $spread $blur $color;
    box-shadow: $top $left $spread $blur $color;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

.alert {
    height: 50px;
    margin: 0;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 0;

    .close {
        @include opacity(0.8);

        &:hover {
            @include opacity(1);
        }
    }

    &.alert-success {
        color: darken(#61d174, 30%);
        background-color: lighten(#61d174, 25%);
        border-color: #d6e9c6;

        .close span {
            color: darken(#61d174, 30%);
        }
    }

    &.alert-info {
        color: darken(#edbe5e, 30%);
        background-color: lighten(#edbe5e, 25%);
        border-color: #d6e9c6;

        .close span {
            color: darken(#edbe5e, 30%);
        }
    }
}

div.alert + .navbar + .display {
    top: 110px !important; // Sorry mom
}

#index {
    background: url('../img/background.jpg') no-repeat center;
    background-size: cover;

    header {
        background-color: $color_black;
        border-radius: 0;
        border: none;

        .navbar-header {
            display: flex;
            align-items: center;
            height: 80px;

            .navbar-brand {
                color: #ffffff;
                @include font-size(26px);
            }
        }

        .navbar-login {
            float: right;
            height: 80px;

            form.login {
                display: flex;
                align-items: center;
                height: 100%;

                > * {
                    display: inline-block;
                }

                .form-group {
                    margin: 0 26px 0 0;

                    &:last-child {
                        margin-right: 0;
                    }

                    input {
                        width: 250px;
                        padding: 8px;
                        background-color: #f1f1f1;
                        border: 1px solid #dadada;
                        @include font-size(15px);

                        &:focus {
                            border: 1px solid $color_accent;
                            outline: 0;
                        }

                        &[name="login_submit"] {
                            width: 140px;
                            background-color: $color_accent;
                            border: 1px solid $color_accent;
                            color: #ffffff;
                            @include font-size(15px);
                            text-transform: uppercase;
                            font-weight: 600;

                            &:hover {
                                background-color: darken($color_accent, 8%);
                            }
                        }
                    }
                }
            }
        }
    }

    .page {
        margin: 40px auto;

        h1 {
            width: 230px;
            margin: 0 auto 20px;
            padding-bottom: 15px;
            color: $color_black;
            @include font-size(22px);
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid lighten($color_black, 70%);
        }

        .row {
            margin: 0;
        }

        .blurb {
            margin-bottom: 20px;
            padding: 50px 30px 40px;
            background-color: #ffffff;
            @include box-shadow(3px, 3px, 2px, 3px, rgba(0,0,0,0.1));

            p {
                @include font-size(15px);

                i {
                    color: #878787;
                    @include font-size(14px);
                }
            }
        }

        form.register {
            padding: 50px 30px 40px;
            background-color: #ffffff;
            @include box-shadow(3px, 3px, 2px, 3px, rgba(0,0,0,0.1));

            .form-group {
                margin-top: 20px;

                label {
                    color: #878787;
                    @include font-size(15px);
                    text-transform: uppercase;
                    font-weight: normal;
                }

                input {
                    width: 100%;
                    padding: 13px 10px;
                    background-color: #f1f1f1;
                    border: 1px solid #dadada;
                    @include font-size(15px);

                    &:focus {
                        border: 1px solid $color_accent;
                        outline: 0;
                    }

                    &[name="register_submit"] {
                        margin-top: 25px;
                        padding: 17px 10px;
                        border: 1px solid $color_accent;
                        background-color: $color_accent;
                        color: #ffffff;
                        @include font-size(17px);
                        text-transform: uppercase;
                        font-weight: 600;

                        &:hover {
                            background-color: darken($color_accent, 8%);
                        }
                    }
                }

                p.terms {
                    margin-top: 13px;
                    @include font-size(13px);
                    text-align: center;
                }
            }
        }
    }
}

#dashboard {
    header {
        margin: 0;
        background-color: $color_black;
        border-radius: 0;
        border: none;

        .container {
            width: 100%;
            padding: 0 20px;
        }

        .navbar-header {
            display: flex;
            align-items: center;
            height: 60px;

            .navbar-brand {
                color: #ffffff;
                @include font-size(24px);
            }
        }

        .navbar-user {
            float: right;
            display: flex;
            align-items: center;
            height: 60px;
            margin-right: 0;

            > * {
                display: inline-block;
            }

            a.user {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                margin: 0 5px;

                &:hover {
                    @include opacity(0.9);
                    cursor: pointer;
                    text-decoration: none;
                }

                > * {
                    display: inline-block;
                }

                p.name {
                    margin: 0;
                    color: #ffffff;
                    @include font-size(16px);
                }

                img.avatar {
                    width: 30px;
                    height: 30px;
                    margin-left: 15px;
                    background-color: #ffffff;
                    border-radius: 999px;
                }
            }

            a.settings-btn {
                width: 8px;
                height: 25px;
                padding: 0;
                margin-left: 15px;
                margin-right: 15px;
                border: none;
                background-color: #ffffff;

                &:hover {
                    @include opacity(0.9);
                    cursor: pointer;
                }
            }
        }
    }

    .display {
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 400px;
        padding: 40px 0 20px;
        margin: 0;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        > :last-child {
            margin-right: 20px;
        }

        .class {
            $default_color: #a7adb4;
            position: relative;
            display: inline-block;
            vertical-align: top;
            min-height: 100%;
            width: 400px;
            margin-left: 20px;
            background-color: #fff;
            @include box-shadow(2px, 2px, 2px, 3px, rgba(0,0,0,0.04));

            &[hide="true"] {
                display: none;
                visibility: hidden;
            }

            &.draggable {
                .header {
                    @include transition( background 0.2s ease-out );

                    &:hover {
                        background-color: darken(#a5acb3, 5%);
                        cursor: pointer;
                    }
                }
            }

            .header {
                position: relative;
                width: 100%;
                height: 50px;
                padding: 0 20px;
                background-color: $default_color;
                border-bottom: 1px solid #b0b3b9;
                @include transition( background 0.5s ease-out );

                h1 {
                    margin: 0 35px 0 0;
                    color: #ffffff;
                    @include font-size(18px);
                    line-height: 50px;
                    font-weight: normal;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .close-btn {
                    float: right;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    margin: -35px 0 0;
                    border: none;
                    background-color: #ffffff;
                    @include font-size(18px);
                    color: $default_color;
                    @include transition(color 0.5s ease-out);

                    &:hover {
                        @include opacity(0.9);
                        cursor: pointer;
                    }
                }
            }

            ul {
                position: absolute;
                top: 50px;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0;
                margin: 0;
                overflow-y: auto;

                li {
                    position: relative;
                    width: 100%;
                    min-height: 90px;
                    list-style: none;
                    border-bottom: 1px solid #e4e4e4;
                    @include transition( background 0.05s ease-out );

                    .tab {
                        float: left;
                        display: flex;
                        align-items: center;
                        width: 10%;
                        height: 90px;
                        margin: 0;
                        background-color: rgba($default_color, 0.15);
                        border: 1px solid darken(#f8f8f8, 10%);

                        input[type="checkbox"] {
                            display: none;
                        }

                        input[type="checkbox"] + label {
                            width: 20px;
                            height: 20px;
                            margin: 0 auto;
                            background-color: lighten($default_color, 14%);

                            &:hover {
                                background-color: lighten($default_color, 7%);
                                cursor: pointer;
                            }
                        }

                        input[type="checkbox"]:checked + label {
                            background-color: $default_color;
                            background: url('../img/checkmark.svg') no-repeat center;
                            background-size: 15px 15px;
                        }
                    }

                    .content {
                        float: left;
                        width: 90%;
                        vertical-align: top;
                        height: 90px;
                        padding: 10px 12px;
                        cursor: pointer;

                        p.title {
                            margin-bottom: 5px;
                            @include font-size(15px);
                            font-weight: 600;
                        }

                        p.due {
                            margin: 0;
                            color: #787c81;
                            @include font-size(14px);

                            b {
                                color: #ffffff;
                                padding: 1px 5px;
                                background-color: $default_color;
                                border-radius: 6px;
                            }

                            em {
                                color: $default_color;
                                font-weight: 600;
                                font-style: normal;
                            }
                        }

                        p.duration {
                            margin-bottom: 4px;
                            color: #787c81;
                            @include font-size(14px);
                        }
                    }

                    .expand {
                        position: relative;
                        height: 35px;
                        clear: both;
                        @include transition(height 0.3s ease-out);
                        border-top: 1px solid #e4e4e4;
                        overflow: hidden;

                        &[hide="true"] {
                            height: 0;
                            border: none;
                        }
                        .edit,
                        .delete {
                            width: 50%;
                            height: 100%;
                            vertical-align: top;
                            display: inline-block;
                            margin-right: -4px;
                            text-align: center;
                            line-height: 35px;
                            cursor: pointer;
                            color: rgba(#161515, 0.8);

                            &:hover {
                                color: #161515;
                            }
                            i {
                                display: inline-block;
                                height: 20px;
                                width: 20px;
                                margin-top: 7.5px;
                                margin-right: 8px;
                                @include font-size(20px);
                            }
                            p {
                                vertical-align: top;
                                display: inline-block;
                                @include font-size(14px);
                                text-transform: uppercase;
                            }
                        }
                        .edit {
                            background-color: lighten(#edbe5e, 15%);
                        }
                        .delete {
                            background-color: lighten(#61d174, 15%);
                        }
                    }
                }

                li.add-btn {
                    height: auto;
                    border: none;
                    padding: 10px 15px;

                    &:hover {
                        background-color: inherit;
                        cursor: pointer;

                        span.icon {
                            background-color: lighten($default_color, 15%);
                        }
                    }

                    &.selected {
                        background-color: inherit;

                        span.icon {
                            background-color: lighten($default_color, 5%);
                        }

                        &:hover {
                            span.icon {
                                background-color: darken($default_color, 2%);
                            }
                        }
                    }

                    i {
                        display: block;
                        margin: 8px auto;
                        padding: 5px 0;
                        background-color: lighten($default_color, 20%);
                        color: #ffffff;
                        @include font-size(24px);
                        text-align: center;
                        @include transition( background 0.1s ease-out );
                    }
                }
            }

            form.add-class {
                width: 100%;
                margin-top: 20px;
                padding-bottom: 10px;

                .form-group {
                    padding: 0 10px;

                    label {
                        color: #9a9a9a;
                        @include font-size(15px);
                        text-transform: uppercase;
                        font-weight: normal;
                    }

                    input[type="text"] {
                        width: 100%;
                        padding: 13px 10px;
                        background-color: #f1f1f1;
                        border: 1px solid #dadada;
                        @include font-size(15px);

                        &:focus {
                            border: 1px solid $default_color;
                            outline: 0;
                        }
                    }

                    input[type="submit"] {
                        width: 100%;
                        margin-top: 25px;
                        padding: 18px 10px;
                        border: 1px solid $default_color;
                        background-color: $default_color;
                        color: #ffffff;
                        @include font-size(17px);
                        text-transform: uppercase;
                        font-weight: 600;
                        @include transition( background 0.5s ease-out );

                        &:hover {
                            background-color: darken($default_color, 8%);
                        }
                    }

                    .colors {
                        input {
                            display: none;
                        }

                        input + label {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            margin-right: 11px;
                            background-color: $default_color;
                            border: 4px solid #dadada;
                            cursor: pointer;
                        }

                        input:checked + label {
                            border: 4px solid darken(#dadada, 10%);
                        }
                    }
                }
            }

            form.add-assignment {
                height: 370px;
                width: 100%;
                background-color: lighten($default_color, 25%);
                border-top: 1px solid lighten($default_color, 10%);
                border-bottom: 1px solid lighten($default_color, 10%);
                overflow: hidden;
                @include transition(height 0.3s ease-out, border 0.3s ease-out);

                &[hide="true"] {
                    height: 0;
                    border: 0 solid rgba(lighten($default_color, 5%), 0);
                }

                .form-group {
                    padding: 0 10px;

                    &:first-child {
                        margin-top: 20px;
                    }

                    &:last-child {
                        margin-bottom: 10px;
                    }

                    label {
                        color: #333333;
                        @include font-size(15px);
                        text-transform: uppercase;
                        font-weight: normal;
                    }

                    input[type="text"] {
                        width: 100%;
                        padding: 12px 8px;
                        background-color: #ffffff;
                        border: 1px solid #dadada;
                        @include font-size(15px);

                        &:focus {
                            border: 1px solid $default_color;
                            outline: 0;
                        }
                    }

                    input[type="date"] {
                        @extend input[type="text"];
                    }

                    input[type="submit"] {
                        width: 100%;
                        margin-top: 10px;
                        padding: 12px 8px;
                        border: 1px solid $default_color;
                        background-color: $default_color;
                        color: #ffffff;
                        @include font-size(15px);
                        text-transform: uppercase;
                        font-weight: 600;
                        @include transition( background 0.5s ease-out );

                        &:hover {
                            background-color: darken($default_color, 8%);
                        }
                    }
                }
            }
        }
        // .assignment {
        //     position: relative;
        //     display: inline-block;
        //     vertical-align: top;
        //     min-height: 100%;
        //     width: 450px;
        //     background-color: #fff;
        //     @include box-shadow(2px, 2px, 2px, 3px, rgba(0,0,0,0.04));
        //     @include transition(width 0.3s ease-out, opacity 0.3s ease-out);
        //     @include opacity(1);
        //
        //     &[hide="true"] {
        //         width: 0;
        //         @include opacity(0);
        //     }
        //
        //     h1 {
        //         margin: 30px 15px 10px;
        //         @include font-size(26px);
        //     }
        // }
        @import "colors";

        .add-class-btn {
            @extend .class;
            width: 100px;
            @include transition( background 0.5s ease-out );

            &:hover {
                cursor: pointer;
            }
        }
    }
}
