body,
html {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  font-family: 'Open Sans', sans-serif;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.alert span {
  color: #2b542c;
}

.alert.alert-success {
  color: #2b542c;
  background-color: rgba(178, 219, 161, 0.9);
  border-color: #d6e9c6;
}

.alert.alert-info {
  color: #31708f;
  background-color: rgba(154, 207, 234, 0.9);
  border-color: #bce8f1;
}

#index {
  background: url("../img/background.jpg");
  background-size: cover;
}

#index header {
  background-color: #23282d;
  border-radius: 0;
  border: none;
}

#index header .navbar-header {
  display: flex;
  align-items: center;
  height: 80px;
}

#index header .navbar-header .navbar-brand {
  color: #ffffff;
  font-size: 26px;
  font-size: 2.6rem;
}

#index header .navbar-login {
  float: right;
  height: 80px;
}

#index header .navbar-login form.login {
  display: flex;
  align-items: center;
  height: 100%;
}

#index header .navbar-login form.login > * {
  display: inline-block;
}

#index header .navbar-login form.login .form-group {
  margin: 0 26px 0 0;
}

#index header .navbar-login form.login .form-group:last-child {
  margin-right: 0;
}

#index header .navbar-login form.login .form-group input {
  width: 250px;
  padding: 8px;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  font-size: 15px;
  font-size: 1.5rem;
}

#index header .navbar-login form.login .form-group input:focus {
  border: 1px solid #51cf66;
  outline: 0;
}

#index header .navbar-login form.login .form-group input[name="login_submit"] {
  width: 140px;
  background-color: #51cf66;
  border: 1px solid #51cf66;
  color: #ffffff;
  font-size: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

#index header .navbar-login form.login .form-group input[name="login_submit"]:hover {
  background-color: #35c24d;
}

#index .page {
  margin: 40px auto;
}

#index .page .row {
  margin: 0;
}

#index .page form.register {
  padding: 50px 30px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
}

#index .page form.register h1 {
  width: 230px;
  margin: 0 auto;
  padding-bottom: 15px;
  color: #23282d;
  font-size: 22px;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #d6dbdf;
}

#index .page form.register .form-group {
  margin-top: 20px;
}

#index .page form.register .form-group label {
  color: #878787;
  font-size: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

#index .page form.register .form-group input {
  width: 100%;
  padding: 13px 10px;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  font-size: 15px;
  font-size: 1.5rem;
}

#index .page form.register .form-group input:focus {
  border: 1px solid #51cf66;
  outline: 0;
}

#index .page form.register .form-group input[name="register_submit"] {
  margin-top: 25px;
  padding: 17px 10px;
  border: 1px solid #51cf66;
  background-color: #51cf66;
  color: #ffffff;
  font-size: 17px;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
}

#index .page form.register .form-group input[name="register_submit"]:hover {
  background-color: #35c24d;
}

#index .page form.register .form-group p.terms {
  margin-top: 13px;
  font-size: 13px;
  font-size: 1.3rem;
  text-align: center;
}

#dashboard header {
  margin: 0;
  background-color: #23282d;
  border-radius: 0;
  border: none;
}

#dashboard header .container {
  width: 100%;
  padding: 0 20px;
}

#dashboard header .navbar-header {
  display: flex;
  align-items: center;
  height: 60px;
}

#dashboard header .navbar-header .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  font-size: 2.4rem;
}

#dashboard header .navbar-user {
  float: right;
  display: flex;
  align-items: center;
  height: 60px;
  margin-right: 0;
}

#dashboard header .navbar-user > * {
  display: inline-block;
}

#dashboard header .navbar-user a.user {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0 5px;
}

#dashboard header .navbar-user a.user:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: pointer;
  text-decoration: none;
}

#dashboard header .navbar-user a.user > * {
  display: inline-block;
}

#dashboard header .navbar-user a.user p.name {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-size: 1.6rem;
}

#dashboard header .navbar-user a.user img.avatar {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  background-color: #ffffff;
  border-radius: 999px;
}

#dashboard header .navbar-user a.settings-btn {
  width: 8px;
  height: 25px;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  background-color: #ffffff;
}

#dashboard header .navbar-user a.settings-btn:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: pointer;
}

#dashboard .display {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 400px;
  padding: 40px 0 20px;
  margin: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#dashboard .display > :last-child {
  margin-right: 20px;
}

#dashboard .display .class, #dashboard .display .add-class-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-height: 100%;
  width: 400px;
  margin-left: 20px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.04);
}

#dashboard .display .class[hide="true"], #dashboard .display [hide="true"].add-class-btn {
  display: none;
  visibility: hidden;
}

#dashboard .display .class.draggable .header, #dashboard .display .draggable.add-class-btn .header {
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

#dashboard .display .class.draggable .header:hover, #dashboard .display .draggable.add-class-btn .header:hover {
  background-color: #979fa7;
  cursor: pointer;
}

#dashboard .display .class .header, #dashboard .display .add-class-btn .header {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #a7adb4;
  border-bottom: 1px solid #b0b3b9;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -ms-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

#dashboard .display .class .header h1, #dashboard .display .add-class-btn .header h1 {
  margin: 0 35px 0 0;
  color: #ffffff;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 50px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#dashboard .display .class .header a.settings-btn, #dashboard .display .add-class-btn .header a.settings-btn {
  float: right;
  width: 25px;
  height: 8px;
  padding: 0;
  margin: 21px 0;
  border: none;
  background-color: #ffffff;
}

#dashboard .display .class .header a.settings-btn:hover, #dashboard .display .add-class-btn .header a.settings-btn:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: pointer;
}

#dashboard .display .class .header a.close-btn, #dashboard .display .add-class-btn .header a.close-btn {
  float: right;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: -35px 0 0;
  border: none;
  background-color: #ffffff;
}

#dashboard .display .class .header a.close-btn:hover, #dashboard .display .add-class-btn .header a.close-btn:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: pointer;
}

#dashboard .display .class ul, #dashboard .display .add-class-btn ul {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

#dashboard .display .class ul li, #dashboard .display .add-class-btn ul li {
  position: relative;
  height: 90px;
  list-style: none;
  padding: 10px 15px;
  border-bottom: 1px solid #e4e4e4;
  -webkit-transition: background 0.05s ease-out;
  -moz-transition: background 0.05s ease-out;
  -ms-transition: background 0.05s ease-out;
  -o-transition: background 0.05s ease-out;
  transition: background 0.05s ease-out;
}

#dashboard .display .class ul li:hover, #dashboard .display .add-class-btn ul li:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

#dashboard .display .class ul li.selected, #dashboard .display .add-class-btn ul li.selected {
  background-color: #e4e4e4;
}

#dashboard .display .class ul li.selected:hover, #dashboard .display .add-class-btn ul li.selected:hover {
  background-color: #e4e4e4;
}

#dashboard .display .class ul li.selected span.arrow, #dashboard .display .add-class-btn ul li.selected span.arrow {
  background-color: #b9c2c8;
}

#dashboard .display .class ul li p.title, #dashboard .display .add-class-btn ul li p.title {
  margin-bottom: 5px;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}

#dashboard .display .class ul li p.due, #dashboard .display .add-class-btn ul li p.due {
  margin: 0;
  color: #787c81;
  font-size: 14px;
  font-size: 1.4rem;
}

#dashboard .display .class ul li p.due b, #dashboard .display .add-class-btn ul li p.due b {
  color: #ffffff;
  padding: 1px 5px;
  background-color: #a7adb4;
  border-radius: 6px;
}

#dashboard .display .class ul li p.due em, #dashboard .display .add-class-btn ul li p.due em {
  color: #a7adb4;
  font-weight: 700;
  font-style: normal;
}

#dashboard .display .class ul li p.duration, #dashboard .display .add-class-btn ul li p.duration {
  margin-bottom: 4px;
  color: #787c81;
  font-size: 14px;
  font-size: 1.4rem;
}

#dashboard .display .class ul li span.arrow, #dashboard .display .add-class-btn ul li span.arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  bottom: 0;
  width: 8px;
  height: 32px;
  margin-top: -15px;
  background-color: #d0d6da;
}

#dashboard .display .class form.add-class, #dashboard .display .add-class-btn form.add-class {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}

#dashboard .display .class form.add-class .form-group label, #dashboard .display .add-class-btn form.add-class .form-group label {
  color: #9a9a9a;
  font-size: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

#dashboard .display .class form.add-class .form-group input[type="text"], #dashboard .display .add-class-btn form.add-class .form-group input[type="text"] {
  width: 100%;
  padding: 13px 10px;
  background-color: #f1f1f1;
  border: 1px solid #dadada;
  font-size: 15px;
  font-size: 1.5rem;
}

#dashboard .display .class form.add-class .form-group input[type="text"]:focus, #dashboard .display .add-class-btn form.add-class .form-group input[type="text"]:focus {
  border: 1px solid #a7adb4;
  outline: 0;
}

#dashboard .display .class form.add-class .form-group input[name="add_class"], #dashboard .display .add-class-btn form.add-class .form-group input[name="add_class"] {
  width: 100%;
  margin-top: 25px;
  padding: 18px 10px;
  border: 1px solid #a7adb4;
  background-color: #a7adb4;
  color: #ffffff;
  font-size: 17px;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -ms-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

#dashboard .display .class form.add-class .form-group input[name="add_class"]:hover, #dashboard .display .add-class-btn form.add-class .form-group input[name="add_class"]:hover {
  background-color: #9198a1;
}

#dashboard .display .class form.add-class .form-group .colors input, #dashboard .display .add-class-btn form.add-class .form-group .colors input {
  display: none;
}

#dashboard .display .class form.add-class .form-group .colors input + label, #dashboard .display .add-class-btn form.add-class .form-group .colors input + label {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 11px;
  background-color: #a7adb4;
  border: 4px solid #dadada;
  cursor: pointer;
}

#dashboard .display .class form.add-class .form-group .colors input:checked + label, #dashboard .display .add-class-btn form.add-class .form-group .colors input:checked + label {
  border: 4px solid #c1c1c1;
}

#dashboard .display .class[color="red"].draggable .header:hover, #dashboard .display [color="red"].draggable.add-class-btn .header:hover {
  background-color: #ed1818;
  cursor: pointer;
}

#dashboard .display .class[color="red"] .header, #dashboard .display [color="red"].add-class-btn .header {
  background-color: #f03e3e;
}

#dashboard .display .class[color="red"] ul li p.due b, #dashboard .display [color="red"].add-class-btn ul li p.due b {
  background-color: #f03e3e;
}

#dashboard .display .class[color="red"] ul li p.due em, #dashboard .display [color="red"].add-class-btn ul li p.due em {
  color: #e91212;
}

#dashboard .display .class[color="red"] form.add-class .form-group input[type="text"]:focus, #dashboard .display [color="red"].add-class-btn form.add-class .form-group input[type="text"]:focus {
  border: 1px solid #f03e3e;
}

#dashboard .display .class[color="red"] form.add-class .form-group input[name="add_class"], #dashboard .display [color="red"].add-class-btn form.add-class .form-group input[name="add_class"] {
  background-color: #f03e3e;
}

#dashboard .display .class[color="red"] form.add-class .form-group input[name="add_class"]:hover, #dashboard .display [color="red"].add-class-btn form.add-class .form-group input[name="add_class"]:hover {
  background-color: #ed1818;
}

#dashboard .display .class.new form.add-class .form-group .colors label[for="red"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors label[for="red"] {
  background-color: #f25656;
}

#dashboard .display .class.new form.add-class .form-group .colors input:checked + label[for="red"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors input:checked + label[for="red"] {
  background-color: #f03e3e;
}

#dashboard .display .class[color="violet"].draggable .header:hover, #dashboard .display [color="violet"].draggable.add-class-btn .header:hover {
  background-color: #5c2aef;
  cursor: pointer;
}

#dashboard .display .class[color="violet"] .header, #dashboard .display [color="violet"].add-class-btn .header {
  background-color: #7950f2;
}

#dashboard .display .class[color="violet"] ul li p.due b, #dashboard .display [color="violet"].add-class-btn ul li p.due b {
  background-color: #7950f2;
}

#dashboard .display .class[color="violet"] ul li p.due em, #dashboard .display [color="violet"].add-class-btn ul li p.due em {
  color: #5521ee;
}

#dashboard .display .class[color="violet"] form.add-class .form-group input[type="text"]:focus, #dashboard .display [color="violet"].add-class-btn form.add-class .form-group input[type="text"]:focus {
  border: 1px solid #7950f2;
}

#dashboard .display .class[color="violet"] form.add-class .form-group input[name="add_class"], #dashboard .display [color="violet"].add-class-btn form.add-class .form-group input[name="add_class"] {
  background-color: #7950f2;
}

#dashboard .display .class[color="violet"] form.add-class .form-group input[name="add_class"]:hover, #dashboard .display [color="violet"].add-class-btn form.add-class .form-group input[name="add_class"]:hover {
  background-color: #5c2aef;
}

#dashboard .display .class.new form.add-class .form-group .colors label[for="violet"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors label[for="violet"] {
  background-color: #8b68f4;
}

#dashboard .display .class.new form.add-class .form-group .colors input:checked + label[for="violet"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors input:checked + label[for="violet"] {
  background-color: #7950f2;
}

#dashboard .display .class[color="blue"].draggable .header:hover, #dashboard .display [color="blue"].draggable.add-class-btn .header:hover {
  background-color: #1775c9;
  cursor: pointer;
}

#dashboard .display .class[color="blue"] .header, #dashboard .display [color="blue"].add-class-btn .header {
  background-color: #228ae6;
}

#dashboard .display .class[color="blue"] ul li p.due b, #dashboard .display [color="blue"].add-class-btn ul li p.due b {
  background-color: #228ae6;
}

#dashboard .display .class[color="blue"] ul li p.due em, #dashboard .display [color="blue"].add-class-btn ul li p.due em {
  color: #1670bf;
}

#dashboard .display .class[color="blue"] form.add-class .form-group input[type="text"]:focus, #dashboard .display [color="blue"].add-class-btn form.add-class .form-group input[type="text"]:focus {
  border: 1px solid #228ae6;
}

#dashboard .display .class[color="blue"] form.add-class .form-group input[name="add_class"], #dashboard .display [color="blue"].add-class-btn form.add-class .form-group input[name="add_class"] {
  background-color: #228ae6;
}

#dashboard .display .class[color="blue"] form.add-class .form-group input[name="add_class"]:hover, #dashboard .display [color="blue"].add-class-btn form.add-class .form-group input[name="add_class"]:hover {
  background-color: #1775c9;
}

#dashboard .display .class.new form.add-class .form-group .colors label[for="blue"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors label[for="blue"] {
  background-color: #3996e9;
}

#dashboard .display .class.new form.add-class .form-group .colors input:checked + label[for="blue"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors input:checked + label[for="blue"] {
  background-color: #228ae6;
}

#dashboard .display .class[color="cyan"].draggable .header:hover, #dashboard .display [color="cyan"].draggable.add-class-btn .header:hover {
  background-color: #0d7788;
  cursor: pointer;
}

#dashboard .display .class[color="cyan"] .header, #dashboard .display [color="cyan"].add-class-btn .header {
  background-color: #1098ad;
}

#dashboard .display .class[color="cyan"] ul li p.due b, #dashboard .display [color="cyan"].add-class-btn ul li p.due b {
  background-color: #1098ad;
}

#dashboard .display .class[color="cyan"] ul li p.due em, #dashboard .display [color="cyan"].add-class-btn ul li p.due em {
  color: #0c6f7e;
}

#dashboard .display .class[color="cyan"] form.add-class .form-group input[type="text"]:focus, #dashboard .display [color="cyan"].add-class-btn form.add-class .form-group input[type="text"]:focus {
  border: 1px solid #1098ad;
}

#dashboard .display .class[color="cyan"] form.add-class .form-group input[name="add_class"], #dashboard .display [color="cyan"].add-class-btn form.add-class .form-group input[name="add_class"] {
  background-color: #1098ad;
}

#dashboard .display .class[color="cyan"] form.add-class .form-group input[name="add_class"]:hover, #dashboard .display [color="cyan"].add-class-btn form.add-class .form-group input[name="add_class"]:hover {
  background-color: #0d7788;
}

#dashboard .display .class.new form.add-class .form-group .colors label[for="cyan"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors label[for="cyan"] {
  background-color: #12adc4;
}

#dashboard .display .class.new form.add-class .form-group .colors input:checked + label[for="cyan"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors input:checked + label[for="cyan"] {
  background-color: #1098ad;
}

#dashboard .display .class[color="green"].draggable .header:hover, #dashboard .display [color="green"].draggable.add-class-btn .header:hover {
  background-color: #35c24d;
  cursor: pointer;
}

#dashboard .display .class[color="green"] .header, #dashboard .display [color="green"].add-class-btn .header {
  background-color: #51cf66;
}

#dashboard .display .class[color="green"] ul li p.due b, #dashboard .display [color="green"].add-class-btn ul li p.due b {
  background-color: #51cf66;
}

#dashboard .display .class[color="green"] ul li p.due em, #dashboard .display [color="green"].add-class-btn ul li p.due em {
  color: #33ba4a;
}

#dashboard .display .class[color="green"] form.add-class .form-group input[type="text"]:focus, #dashboard .display [color="green"].add-class-btn form.add-class .form-group input[type="text"]:focus {
  border: 1px solid #51cf66;
}

#dashboard .display .class[color="green"] form.add-class .form-group input[name="add_class"], #dashboard .display [color="green"].add-class-btn form.add-class .form-group input[name="add_class"] {
  background-color: #51cf66;
}

#dashboard .display .class[color="green"] form.add-class .form-group input[name="add_class"]:hover, #dashboard .display [color="green"].add-class-btn form.add-class .form-group input[name="add_class"]:hover {
  background-color: #35c24d;
}

#dashboard .display .class.new form.add-class .form-group .colors label[for="green"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors label[for="green"] {
  background-color: #65d578;
}

#dashboard .display .class.new form.add-class .form-group .colors input:checked + label[for="green"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors input:checked + label[for="green"] {
  background-color: #51cf66;
}

#dashboard .display .class[color="yellow"].draggable .header:hover, #dashboard .display [color="yellow"].draggable.add-class-btn .header:hover {
  background-color: #e9b003;
  cursor: pointer;
}

#dashboard .display .class[color="yellow"] .header, #dashboard .display [color="yellow"].add-class-btn .header {
  background-color: #fcc419;
}

#dashboard .display .class[color="yellow"] ul li p.due b, #dashboard .display [color="yellow"].add-class-btn ul li p.due b {
  background-color: #fcc419;
}

#dashboard .display .class[color="yellow"] ul li p.due em, #dashboard .display [color="yellow"].add-class-btn ul li p.due em {
  color: #dfa903;
}

#dashboard .display .class[color="yellow"] form.add-class .form-group input[type="text"]:focus, #dashboard .display [color="yellow"].add-class-btn form.add-class .form-group input[type="text"]:focus {
  border: 1px solid #fcc419;
}

#dashboard .display .class[color="yellow"] form.add-class .form-group input[name="add_class"], #dashboard .display [color="yellow"].add-class-btn form.add-class .form-group input[name="add_class"] {
  background-color: #fcc419;
}

#dashboard .display .class[color="yellow"] form.add-class .form-group input[name="add_class"]:hover, #dashboard .display [color="yellow"].add-class-btn form.add-class .form-group input[name="add_class"]:hover {
  background-color: #e9b003;
}

#dashboard .display .class.new form.add-class .form-group .colors label[for="yellow"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors label[for="yellow"] {
  background-color: #fcca32;
}

#dashboard .display .class.new form.add-class .form-group .colors input:checked + label[for="yellow"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors input:checked + label[for="yellow"] {
  background-color: #fcc419;
}

#dashboard .display .class[color="orange"].draggable .header:hover, #dashboard .display [color="orange"].draggable.add-class-btn .header:hover {
  background-color: #ff7d02;
  cursor: pointer;
}

#dashboard .display .class[color="orange"] .header, #dashboard .display [color="orange"].add-class-btn .header {
  background-color: #ff922b;
}

#dashboard .display .class[color="orange"] ul li p.due b, #dashboard .display [color="orange"].add-class-btn ul li p.due b {
  background-color: #ff922b;
}

#dashboard .display .class[color="orange"] ul li p.due em, #dashboard .display [color="orange"].add-class-btn ul li p.due em {
  color: #f77800;
}

#dashboard .display .class[color="orange"] form.add-class .form-group input[type="text"]:focus, #dashboard .display [color="orange"].add-class-btn form.add-class .form-group input[type="text"]:focus {
  border: 1px solid #ff922b;
}

#dashboard .display .class[color="orange"] form.add-class .form-group input[name="add_class"], #dashboard .display [color="orange"].add-class-btn form.add-class .form-group input[name="add_class"] {
  background-color: #ff922b;
}

#dashboard .display .class[color="orange"] form.add-class .form-group input[name="add_class"]:hover, #dashboard .display [color="orange"].add-class-btn form.add-class .form-group input[name="add_class"]:hover {
  background-color: #ff7d02;
}

#dashboard .display .class.new form.add-class .form-group .colors label[for="orange"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors label[for="orange"] {
  background-color: #ff9f45;
}

#dashboard .display .class.new form.add-class .form-group .colors input:checked + label[for="orange"], #dashboard .display .new.add-class-btn form.add-class .form-group .colors input:checked + label[for="orange"] {
  background-color: #ff922b;
}

#dashboard .display .add-class-btn {
  width: 100px;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -ms-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

#dashboard .display .add-class-btn:hover {
  cursor: pointer;
}
